@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@300;400;500;600&family=Manrope:wght@300;400;500&family=Newsreader:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Cormorant Garamond", serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Montserrat", sans-serif;
  --font-newsreader: "Newsreader", serif;

  --color-surface: #FDF8F5;
  --color-on-surface: #4A2B47;
  --color-primary: #4A2B47;
  --color-primary-container: #3d223a;
  --color-secondary: #C29B91;
  --color-secondary-container: #e6cec8;
  --color-surface-container-low: #f8ece8;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-highest: #f4dbd5;
  --color-outline-variant: #d0c3cb;
  --color-on-primary-container: #C29B91;

  --radius-none: 0px;
}

@layer base {
  body {
    @apply bg-surface text-primary font-body antialiased;
  }
}

.glass-nav {
  @apply backdrop-blur-xl;
}

.editorial-gap {
  column-gap: 4rem;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
  font-size: 20px;
}
